body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.course-container{
    margin: 0px 10px;
}

.all-courses{
    display: flex;
}

header{
    background-color:#A5B68D;
    color:#EDE8DC ;
    padding: 20px 0;
}

header h1, nav{
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #EDE8DC;
    font-weight: bold;
}

nav a:hover{
    border-bottom: 1px solid #fff;
}

main{
    background-color:#EDE8DC;
    padding: 20px 0px;
}

.hero{
    text-align: center;
    padding: 40px 0px;
}

.hero h2{
    color: #A5B68D;
}

.cta-button{
    display: inline-block;
    background-color:#C1CFA1;
    color:#EDE8DC;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 300ms background-color;
}


.cta-button:hover{
    background-color:#A5B68D ;
}

.courses{
    padding: 40px 0px;
}

.course{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms all;
}

.course:hover{
    border-color:#B7B7B7;
}

.course img{
    max-width: 180px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.course-info{
    flex-grow: 1;
}

.course h3{
    margin: 0;
    color:#A5B68D;  
}

.course p{
    margin: 0;
    color:#9E9FA5 ;
}

footer{
  background-color: #A5B68D;  
  color: #EDE8DC;
  padding: 20px 0px;
  text-align: center;
}
